#bugcat {
    position: fixed;
    left:-100px; bottom: 0px;
    animation-name: bugcat;
    animation-duration: 15s;
    animation-timing-function: linear;
    animation-iteration-count: infinite;
    animation-play-state: running;
    rotate: 0deg;
}

@keyframes bugcat {
    from {left: -100px; transform: scaleX(-1);}
    to {left: 100%; transform: scaleX(-1);}
}

#menu-button{
    background-color: #88b8da;
    border: 0;
    border-radius: 3.5rem;
    cursor: pointer;
    font-size: 15px;
    font-family: "Coiny", "system-ui";
    color: #ffffff;
    text-align: center;
    position: fixed;
    transition: color 0.5s, text-shadow 0.5s;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 5px;
}

#menu-button:hover {
    background-color: #ffcc00;
    color: #000000;
    text-shadow: 0 0 10px #ffcc00;
    transition: color 0.5s, text-shadow 0.5s, background-color 0.5s;
    cursor: pointer;
}

#menu-icon {
    width: 26px;
}

.clock {
    font-size: calc(5vw + 5vh);
    font-family: "Coiny", "system-ui";
    color: #ffffff;
    text-align: center;
    position: fixed;
    width: 100%;
    top: 5vh;
}

#time {
    color: #ffffff;
    transition: color 0.5s, text-shadow 0.5s;
}

#time:hover {
    color: #ffcc00;
    text-shadow: 0 0 10px #ffcc00;
    transition: color 0.5s, text-shadow 0.5s;
    cursor: default;
}

#date {
    font-size: clamp(10px, 3vw, 20px);
    font-family: "Coiny", "system-ui";
    color: #ffffff;
    text-align: center;
    position: relative;
}

#weather {
    font-size: clamp(15px, 3vw, 20px);
    font-family: "Patrick Hand SC", "system-ui";
    color: #ffffff;
    text-align: left;
    position: fixed;
    width: 100%;
}

.weather-container {
  display: flex;
  align-items: center;
  gap: 16px;
  justify-content: center;
}

#weather-img {
  width: 100px;
  height: auto;;
}

.sidenav {
  border-radius: 0 25px 25px 0;
  border: 2px solid #ffffff;
  height: calc(100% - 65px);
  width: 300px;
  position: fixed;
  z-index: 1;
  top: 0px;
  left: -305px;
  backdrop-filter: blur(10px);
  background: #88b8da28;
  overflow-x: hidden;
  padding-top: 60px;
  transition: 0.5s;
}

.sidenav a {
  padding: 8px 8px 8px 32px;
  font-family: "Coiny", "system-ui";
  text-decoration: none;
  font-size: 20px;
  color: #ffffff;
  display: block;
  transition: 0.3s;
}

#close {
  width: 15px;
  height: 15px;
  font-family: "Coiny", "system-ui";
  color: #f1f1f1;
  background-color: transparent;
  cursor: pointer;
}

.sidenav a:hover {
  color: #000000;
  background-color: #88b8da;
}

.sidenav .closebtn {
  position: absolute;
  top: 0;
  right: 25px;
  font-size: 36px;
  margin-left: 50px;
}

@media screen and (max-height: 450px) {
  .sidenav {padding-top: 15px;}
  .sidenav a {font-size: 18px;}
}

#credits {
   font-family: "SegoeUI", "system-ui";
   font-size: 12px;
   color: #f1f1f1;
   position: fixed;
   bottom: 0;
   text-align: center;
   width: 245px;
}