.menu-button{
    background-color: #1f1f1f;
    border: 0;
    border-radius: 3.5rem;
    cursor: pointer;
    font-size: 15px;
    font-family: "Coiny", "system-ui";
    color: #ffffff;
    text-align: center;
    position: fixed;
    transition: color 0.5s, background-color 0.5s;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 5px;
    top: 10px;
    height: 30px;
}

.menu-button:hover {
    background-color: #ffcc00;
    color: #000000;
    transition: color 0.5s, background-color 0.5s;
    cursor: pointer;
}

#menu-icon {
    width: 26px;
}

#content {
    position: absolute;
    display: flex;
    width: 75   0px;
    height: calc(100% - 40px);
    left: calc(50% - 410px);
    top: 10px;
    padding: 10px;
    background-color: #ebebeb;
    border-radius: 20px;
    box-shadow: 10px 10px 30px #303030aa;
    animation: fade_in 1s;
    animation-play-state: running;
}

#bio {
    position: relative;
    background-color: white;
    font-family: 'Segoe UI';
    width: 60%;
    right: 0px;
    bottom: 0;
    border-radius: 0px 15px 15px 0px;
}

#bio-content {
    position: relative;
    width: calc(100% - 10px);
    height: 100%;
    left: 0;
    overflow: auto;
}

#info {
    position: relative;
    background-color: black ;
    font-family: 'Segoe UI';
    height: 100%;
    width: 40%;
    left: 0;
    bottom: 0;
    border-radius: 15px 0px 0px 15px;
    overflow: auto;
}

#basic-info {
    position: absolute;
    color: white;
    font-family: 'Segoe UI';
    left: 0;
    top: 175px;
    padding: 15px;
    padding-left: 20px;
}

#avt-frame {
    position: relative;
    width: 140px;
    height: 120px;
    left: calc(50% - 70px);
    top: 50px;
    display: flex;
    font-size: 0px;
    transition: all 0.3s;
}

#avt {
    overflow: hidden;
    position: relative;
    width: 120px;
    height: 120px;
    border: 5px solid #ffffff;
    border-radius: 10cm;
    align-items: center;
    justify-content: center;
    display: flex;
    transition: all 0.3s, border-radius 0.75s;
}

#avt:hover {
    border-color: lightskyblue;
    box-shadow: lightskyblue 0px 0px 30px;
    transition: all 0.3s, border-radius 0.75s;
}

#image {
    width: inherit;
}

.contact {
    cursor: pointer;
    position: relative;
    bottom: 0%;
    font-size: 0px;
    transition: all 0.3s;
}

#fb:hover {
    box-shadow: #5797ff 0px 0px 30px;
    font-size: 14px;
    gap: 5px;
    padding: 0px 10px 0px 0px;
    transition: all 0.3s;
}

#ig:hover {
    box-shadow: #ff5f9f 0px 0px 30px;
    font-size: 14px;
    gap: 5px;
    padding: 0px 10px 0px 0px;
    transition: all 0.3s;
}

#gh:hover {
    box-shadow: #ffffff 0px 0px 30px;
    font-size: 14px;
    gap: 5px;
    padding: 0px 10px 0px 0px;
    transition: all 0.3s;
}

.skill {
    width: 200px;
    height: 12px;
    background-color: #fffafa;
    border-radius: 10cm;
    right: 0;
}

.inner-skill {
    height: 100%;
    background-color: lightskyblue;
    border-radius: 10cm;
    right: 0;
    transition: all 0.2s;
}

.skill-container {
    font-size: 12px;
}

@keyframes fade_in {
    from {opacity: 0; top: 50%}
    to {opacity: 1; top: 10px;}
}