.menu-button{
    background-color: #1f1f1f;
    border: 0;
    border-radius: 3.5rem;
    cursor: pointer;
    font-size: 15px;
    font-family: "Coiny", "system-ui";
    color: #ffffff;
    text-align: center;
    position: fixed;
    transition: color 0.5s, background-color 0.5s;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 5px;
    top: 10px
}

.menu-button:hover {
    background-color: #ffffff;
    color: #000000;
    transition: color 0.5s, background-color 0.5s;
    cursor: pointer;
}

#menu-icon {
    width: 26px;
}

#content {
    display: flex;
    align-items: center;
    justify-content: center;
}

#info {
    position: fixed;
    background-color: black;
    color: white;
    font-family: 'Coiny';
    height: 100%;
    width: 350px;
    left: 0;
    bottom: 0;
    overflow: auto;
}

#basic-info {
    position: absolute;
    color: white;
    font-family: 'Coiny';
    left: 0;
    top: 175px;
    padding: 15px
}

#avt {
    overflow: hidden;
    position: relative;
    width: 100px;
    height: 100px;
    border: 5px solid #ffffff;
    border-radius: 1.5cm;
    align-items: center;
    justify-content: center;
    display: flex;
    left: calc(50% - 55px);
    top: 75px;
    transition: all 0.3s, border-radius 0.75s;
}

#avt:hover {
    width: 110px;
    height: 110px;
    left: calc(50% - 60px);
    top: 70px;
    border-radius: 0.5cm;
    box-shadow: #ffffff 0px 0px 30px;
    transition: all 0.3s, border-radius 0.75s;
}

#image {
    width: inherit;
}

#bio {
    position: absolute;
    background-color: white;
    font-family: 'Coiny';
    height: 100%;
    width: calc(100% - 350px);
    right: 0;
    bottom: 0;
    overflow: auto;
}

.contact {
    cursor: pointer;
    position: relative;
    bottom: 0%;
    font-size: 0px;
    transition: all 0.3s;
}

#fb:hover {
    box-shadow: #5797ff 0px 0px 30px;
    font-size: 16px;
    gap: 5px;
    padding: 0px 10px 0px 0px;
    transition: all 0.3s;
}

#ig:hover {
    box-shadow: #ff5f9f 0px 0px 30px;
    font-size: 16px;
    gap: 5px;
    padding: 0px 10px 0px 0px;
    transition: all 0.3s;
}

#gh:hover {
    box-shadow: #ffffff 0px 0px 30px;
    font-size: 16px;
    gap: 5px;
    padding: 0px 10px 0px 0px;
    transition: all 0.3s;
}

.skill {
    width: 250px;
    height: 10px;
    background-color: #fffafa;
    border-radius: 10cm;
    right: 0;
}

.inner-skill {
    height: 10px;
    background-color: #00f7ff;
    border-radius: 10cm;
    right: 0;
    transition: all 0.2s;
}

.skill-container {
    font-size: 12px;
}