body {
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

.menu-button{
    background-color: #1f1f1f;
    border: 0;
    border-radius: 3.5rem;
    cursor: pointer;
    font-size: 0px;
    font-family: "Segoe UI", "system-ui";
    color: #ffffff;
    text-align: center;
    position: fixed;
    transition: all 0.3s;
    display: flex;
    align-items: center;
    justify-content: center;
    padding-right: 10px;
    gap: 0px;
    top: 10px;
    left: 10px;
    height: 30px;
}

.menu-button:hover {
    background-color: #5B7B90;
    transition: all 0.3s;
    cursor: pointer;
    font-size: 15px;
    gap: 5px;
}

#menu-icon {
    width: 26px;
}

#content {
    position: absolute;
    display: flex;
    width: clamp(375px, 75vw ,750px);
    height: calc(100% - 40px);
    top: clamp(5px, 1vw, 10px);
    padding: clamp(5px, 1vw, 10px);
    background-color: #ebebeb;
    border-radius: 20px;
    box-shadow: 10px 10px 30px #303030aa;
    animation: fade_in 1s;
    animation-play-state: running;
}

#bio {
    position: relative;
    background-color: white;
    font-family: 'Segoe UI';
    width: 60%;
    right: 0px;
    bottom: 0px;
    border-radius: 0px 15px 15px 0px;
    padding-top: clamp(5px, 1vw, 10px);
    padding-bottom: clamp(5px, 1vw, 10px);
}

#bio-content {
    position: relative;
    width: calc(100% - 10px);
    height: 100%;
    left: 0;
    overflow: scroll;
}

#info {
    position: relative;
    background-color: black ;
    font-family: 'Segoe UI';
    height: calc(100% - clamp(10px, 2vw, 20px));
    width: 40%;
    left: 0;
    bottom: 0;
    display: flex;
    align-items: center;
    border-radius: 15px 0px 0px 15px;
    padding-top: clamp(5px, 1vw, 10px);
    padding-bottom: clamp(5px, 1vw, 10px);
}

#info-content {
    position: relative;
    font-family: 'Segoe UI';
    height: 100%;
    width: 100%;
    left: 0px;
    overflow: scroll;
    display: flex;
    justify-content: center;
}

#basic-info {
    position: absolute;
    color: white;
    font-family: 'Segoe UI';
    left: 0px;
    top: clamp(83px, 17.5vw, 175px);
    padding: clamp(8px, 1.5vw, 16px);
    padding-left: clamp(10px, 2vw, 20px);
}

#avt-frame {
    position: relative;
    width: clamp(60px, 12vw, 120px);
    height: clamp(60px, 12vw, 120px);
    top: clamp(25px, 5vw, 50px);
    display: flex;
    justify-content: center;
    font-size: 0px;
    transition: all 0.3s;
}

#avt {
    overflow: hidden;
    position: relative;
    width: inherit;
    border: clamp(2px, 0.5vw, 5px) solid #ffffff;
    border-radius: 10cm;
    align-items: center;
    justify-content: center;
    display: flex;
    transition: all 0.3s, border-radius 0.75s;
}

#avt:hover {
    border-color: #5B7B90;
    box-shadow: #5B7B90 0px 0px 30px;
    transition: all 0.3s, border-radius 0.75s;
}

.image {
    width: inherit;
    transition: all 0.3s;
}

.image:hover{
    width: 120%;
    transition: all 0.3s;
}

.contact {
    cursor: pointer;
    position: relative;
    bottom: 0%;
    font-size: 0px;
    transition: all 0.3s;
}

#fb:hover {
    box-shadow: #5797ff 0px 0px 30px;
    font-size: clamp(7px, 1.4vw, 14px);
    gap: clamp(2.5px, 0.5vw, 5px);
    padding: 0px clamp(5px, 1vw, 10px) 0px 0px;
    transition: all 0.3s;
}

#ig:hover {
    box-shadow: #ff5f9f 0px 0px 30px;
    font-size: clamp(7px, 1.4vw, 14px);
    gap: clamp(2.5px, 0.5vw, 5px);
    padding: 0px clamp(5px, 1vw, 10px) 0px 0px;
    transition: all 0.3s;
}

#gh:hover {
    box-shadow: #ffffff 0px 0px 30px;
    font-size: clamp(7px, 1.4vw, 14px);
    gap: clamp(2.5px, 0.5vw, 5px);
    padding: 0px clamp(5px, 1vw, 10px) 0px 0px;
    transition: all 0.3s;
}

.skill {
    width: calc(100% - 25px);
    height: clamp(6px, 1.2vw, 12px);
    background-color: #fffafa;
    border-radius: 10cm;
    border: clamp(2px, 0.4vw, 4px) solid #ebebeb;
    right: 0;
}

.inner-skill {
    height: 100%;
    background-color: #5B7B90;
    border-radius: 10cm;
    right: 0;
    transition: all 0.2s;
}

.skill-container {
    font-size: clamp(6px, 1.2vw, 12px);
}

::-webkit-scrollbar {
    width: clamp(3px, 0.6vw, 6px);
    height: 0px;
}

::-webkit-scrollbar-track {
    background: rgba(255, 255, 255, 0);
}

#bio-content::-webkit-scrollbar-thumb {
    background-color: #adadad;
    border-radius: 6px;
}

#bio-content::-webkit-scrollbar-thumb:hover {
    background-color: #3d3d3d;
}

#info::-webkit-scrollbar-thumb {
    background-color: black;
}

#info::-webkit-scrollbar-thumb:hover {
    background-color: #5B7B90;
}

@keyframes fade_in {
    from {opacity: 0; top: 50%}
    to {opacity: 1; top: 10px;}
}
