#turtle {
    position: fixed;
    left:-100px; bottom: 0px;
    animation-name: turtle;
    animation-duration: 20s;
    animation-timing-function: linear;
    animation-iteration-count: infinite;
    animation-play-state: running;
}

#shark {
    position: absolute;
    left:-100px; bottom: 150px;
    animation-name: shark;
    animation-duration: 10s;
    animation-timing-function: linear;
    animation-iteration-count: infinite;
    animation-play-state: running;
}

#fish {
    position: absolute;
    left:-100px; bottom: 350px;
    animation-name: turtle;
    animation-duration: 5s;
    animation-timing-function: linear;
    animation-iteration-count: infinite;
    animation-play-state: running;
}

#fish1 {
    position: absolute;
    left: -100px; bottom: 300px;
    animation-name: turtle;
    animation-duration: 6s;
    animation-timing-function: linear;
    animation-iteration-count: infinite;
    animation-play-state: running;
}

@keyframes turtle{
    0% {left: 0%; transform: scaleX(1);}
    49% {left: calc(100% - 150px); transform: scaleX(1);}
    50% {left: calc(100% - 150px); transform: scaleX(-1);}
    99% {left: 0%; transform: scaleX(-1);}
    100% {left: 0%; transform: scaleX(1);}
}

@keyframes shark {
    0% {left: 0%; bottom: 150px;}
    20% {bottom: 50px;}
    49% {left: calc(100% - 300px); bottom: 300px; transform: scaleX(1);}
    50% {left: calc(100% - 300px); bottom: 300px; transform: scaleX(-1);}
    99% {left: 0%; bottom: 150px; transform: scaleX(-1);}
    100% {left: 0%; bottom: 150px; transform: scaleX(1);}
}
    