#escapeBox {
      position: absolute;
      width: 169px;
      right: 0;
      transition: top 0.3s ease, left 0.3s ease;
      cursor: pointer;
}

.menu-button{
    background-color: #88b8da;
    border: 0;
    border-radius: 3.5rem;
    cursor: pointer;
    font-size: 30px;
    font-family: "Coiny", "system-ui";
    color: #ffffff;
    text-align: center;
    transition: color 0.5s, text-shadow 0.5s;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 5px;
}

.clock {
    font-size: calc(2vw + 2vh);
    font-family: "Coiny", "system-ui";
    color: #ffffff;
    text-align: center;
    position: fixed;
    width: 90%;
    top: 5vh;
    justify-content: center;
}

#time {
    color: #ffffff;
    transition: color 0.5s, text-shadow 0.5s;
}

#time:hover {
    color: #ffcc00;
    text-shadow: 0 0 10px #ffcc00;
    transition: color 0.5s, text-shadow 0.5s;
    cursor: default;
}

.heart {
  position: absolute;
  top: -50px;
  font-size: 24px;
  animation: fall linear forwards;
  color: hotpink;
  pointer-events: none;
}

@keyframes fall {
  to {
    transform: translateY(100vh);
    opacity: 0;
  }
}